.container {
  width: 1440px;
}
.header{
  padding-top: 50px;
  padding-right: 150px;
  padding-left: 150px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 0 40px;

}

.menu-item a {
  text-decoration: none;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.signin {
  color: #0B132A;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.signup {
  color: #F53855;
  padding: 13px 45px;
  border-radius: 50px;
  border: 1px solid #F53855;
  font-weight: 500;
  transition: 0.3s ease;
}

.signup:hover {
  background-color: #F53855;
  color: #fff;
}

.main {
  padding-top: 85px;
  padding-left: 150px;
  padding-right: 83px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  padding-right: 40px;
  margin-bottom: 100px;
}

.main-heading {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 40px;
}

h1 span {
  font-weight: 700;
}

.main-desc {
  color: #4F5665;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 67.5px;
}

.las {
  font-weight: 600;
}

.buttom {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  padding: 17.5px 77.5px;
  border-radius: 10px;
  background-color: #F53838;
  box-shadow: 0 30px 54px 0 rgba(245, 56, 56, 0.35);
  transition: 0.3s ease;
}

.buttom:hover {
  color: #F53855;
  background-color: #fff;
}


.intro {
  padding-top: 100px;
  text-align: center;
  padding-left: 150px;
  padding-right: 160px;
}

.intro-container {
  background: #fff;
  border-radius: 10px;
  padding: 37px 0;
  box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  height: 150px;
}

.intro-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 36.5px;
  font-size: 20px;
}

.intro-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0 50px;
}

.intro-info {
  margin-bottom: 35px;
}

.intro-text {
  line-height: calc(30/20);
}

.intro-title {
  font-size: 25px;
  margin-bottom: 5px;
  line-height: calc(30/25);
}

.intro-icon strong {
  font-size: 20px;
  margin-right: 5px;
}

.intro-icon .text {
  font-size: 16px;
  color: #666;
  line-height: calc(30/20);
}

.intro-icon .title{
  font-size: 25px;
  margin-bottom: 5px;
  line-height: calc(30/25);
}

.feature {
  padding-top: 130px;
  height: 200px;
  padding-right: 150px;
  padding-left: 150px;
}

.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0 170px;
}

.feature-heading {
  color:  #0B132A;;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  margin-right: 90px;
  padding-bottom: 20px;
  line-height: calc(50/35);
}

.feature-text {
  color: #4F5665;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 30px;
}

.feature-list {
  list-style: none;
}

.feature-item {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.feature-icon {
  margin-right: 10px;
}
