.app {
  display: flex;
  justify-content:  center;
  align-items: center;
}

.container {
  width: 1140px;
}

.header{
  padding-top: 50px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 40px;
}

.menu-item a {
  text-decoration: none;
  color: #4F5665;
}

.menu-item a:hover {
  color: #F53855
}

.header-user {
  display: flex;
  align-items: center;
  gap: 30px;
}

.signin {
  color: #0B132A;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.signup {
  color: #F53855;
  padding: 13px 45px;
  border-radius: 50px;
  border: 1px solid #F53855;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
}

.signup:hover {
  background-color: #F53855;
  color: #fff;
}

.main {
  padding-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  align-items: center;
}

.main-content {
  padding-right: 40px;
  margin-bottom: 100px;
  max-width: 555px;

}

.main-heading {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 40px;
}

h1 span {
  font-weight: 700;
}

.main-desc {
  color: #4F5665;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 67.5px;
  line-height: 30px;
}

.las {
  font-weight: 600;
}

.main-buttom {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  padding: 17.5px 77.5px;
  border-radius: 10px;
  background-color: #F53838;
  box-shadow: 0 30px 54px 0 rgba(245, 56, 56, 0.35);
  transition: 0.3s ease;
  cursor: pointer;
}

.main-buttom:hover {
  color: #F53855;
  background-color: #fff;
}

.intro {
  padding-top: 100px;
  text-align: center;
  width: 100%;
}

.intro-container {
  background: #fff;
  border-radius: 10px;
  padding: 37px 0;
  box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.divider {
  width: 3px;
  height: auto;
  background: #EEEFF2;
  border-radius: 10px;
}

.intro-item {
  display: flex;
  align-items: center;
  gap: 36.5px;
  font-size: 20px;
  align-items: center;
}

.intro-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 36.5px;
}

.intro-info {
  text-align: left;
}

.intro-text {
  line-height: calc(30/20);
}

.intro-title {
  font-size: 25px;
  margin-bottom: 5px;
  line-height: calc(30/25);
}

.intro-icon strong {
  font-size: 20px;
  margin-right: 5px;
}

.intro-icon .text {
  font-size: 16px;
  color: #666;
  line-height: calc(30/20);
}

.intro-icon .title{
  font-size: 25px;
  margin-bottom: 5px;
  line-height: calc(30/25);
}

.feature {
  padding-top: 130px;
}

.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 170px;
}

.feature-heading {
  color:  #0B132A;;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  margin-right: 90px;
  line-height: calc(50/35);
}

.feature-text {
  color: #4F5665;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  padding: 20px 0px;
  line-height: 30px;
}

.feature-list {
  list-style: none;
}

.feature-item {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.feature-icon {
  margin-right: 10px;
}

.plan { 
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F8F8F8 ;
}

.plan-header { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-heading {
  margin-top: 80px;
  width: 383.5px;
  margin-left: 50px;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
 }

 .plan-text { 
  width: 555px;
  text-align: center;
  color: #4F5665;
  font-size: 16px;
  font-style: normal;
  font-weight: 400px;
}

.plan-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.plan-list-item {
  width: 330px;
  height: 760px;
  background: #fff;
  border-radius: 10px;
  border: 3px solid #DDD;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.plan-list-item:hover {
  border: 3px solid #F53838;
  cursor: pointer;
}

.item-img {
  margin-bottom: 10px;
}

.box-img {
  margin-top: 80px;
  width: 145px;
  height: 165px;
  margin-bottom: 30px;
}

.box-title {
  color: #0B132A;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}

.item-list{
  display: flex;
  flex: 0.75;
  flex-direction: column;
}

.item-detail {
  color: #4F5665;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.plan-work {
  margin-top: 30px;
}

.plan-price {
  margin-bottom: 40px;
  color: #0B132A;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}

.price {
  color: #4F5665;
  font-size: 25px;
  font-weight: 400;
}

.Buttom {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #F53838;
  text-decoration: none;
  padding: 13px 63px;
  border-radius: 50px;
  border: 3px solid #F53838;
  background: #fff;
  cursor: pointer;
}

.Buttom:hover {
  background: #F53838;
  color: #fff;
  box-shadow: 0 30px 54px 0 rgba(245, 56, 56, 0.35);
}

.network {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
}

.network-header {
  display: flex;
  flex-direction: column ;
  align-items: center;
}

.network-heading {
  width: 380px;
  color: #0B132A;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 20px;
}

.network-title { 
  width: 500px;
  height: 60px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 150px;
}

.network-las { 
  font-weight: 500;
  line-height: 30px;
}

.network-img { 
  width: 1060px;
  height: 538;
  flex-shrink: 0;
}

.partner { 
  padding-top: 100px;
  background-color: #F8F8F8;
}

.customer-partner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 1110px;
}

.customer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-heading {
  width: 450px;
  color: #0B132A;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 20px;
}

.customer-title {
  width: 535px;
  color: #4F5665;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 60px;
}

.customer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.customer-item {
  padding: 30px;
  width: 330px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid #DDD;
  background: #fff;
}

.customer-item:hover {
  border: 2px solid #F53838;
  box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
  cursor: pointer;
}

.customer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cus-in4 {
  display: flex;
  justify-content: left;
  width: 100%;
}

.cus-name {
  color: #0B132A;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.cus-add {
  color: #4F5665;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.cus-img {
  margin-right: 20px;
}

.cus-rate {
  display: flex;
  justify-content: right;
}

.cus-point {
  margin-right: 20px;
  color: #0B132A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

.cus-star {
  width: 16px;
  height: 16px;
  line-height: 30px;
}

.cus-cmt {
  color: #0B132A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 340px;
  height: 100px;
}

.bar-croll {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.bar-croll-dot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.roll-dot {
  border-radius: 10px;
  background-color: #F53838;
  width: 40px;
  height: 12px;
}

.roll-dot:hover {
  cursor: pointer;
  box-shadow: 0 10px 42px 0 rgba(245, 56, 56, 0.35);
}

.rol-dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #DDD;
}

.rol-dot:hover {
  cursor: pointer;
  box-shadow: 0 10px 42px 0 rgba(245, 56, 56, 0.35);
}

.dot-change {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.dotnext-img {
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 100%;
  border: 2px solid #F53838;
  width: 30px;
  height: 30px;
}

.dotnext-img:hover {
  box-shadow: 0 30px 54px 0 rgba(245, 56, 56, 0.35);
  cursor: pointer;
}

.dotback-img {
  background-color: #F53838;
  padding: 15px 15px;
  border-radius: 100%;
  border: 2px solid #F53838;
  width: 30px;
  height: 30px;
}

.dotback-img:hover {
  box-shadow: 0 30px 54px 0 rgba(245, 56, 56, 0.35);
  cursor: pointer;
}

.footer {
  background: linear-gradient( #fff 20%, #F8F8F8 80%);
}

.footer-sub {
  width: 1100px;
  height: 233px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 50px 0 rgba(13, 16, 37, 0.080);
  margin-left: 20px;

}

.footer-sub-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 70px;
}

.footer-heading {
  width: 340px;
  height: 80px;
  color: #0B132A;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
}

.footer-title {
  width: 410px;
  height: 16px;
  color: #4F5665;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.footer-btn-sub {
  margin-right: 70px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  padding: 17.5px 77.5px;
  border-radius: 10px;
  background-color: #F53838;
  box-shadow: 0 30px 54px 0 rgba(245, 56, 56, 0.35);
  transition: 0.3s ease;
}

.footer-btn-sub:hover {
  color: #F53855;
  background-color: #fff;
}

.footer-info {
  padding-top: 50px;
  display: flex;
  gap: 200px;
}

.footer-info1 {
  display: flex;
  justify-content: left;
}

.footer-info2{
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

.footer-info-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-icon{
  margin-left: 20px;
}

.footer-icon-content {
  margin-top: 10px;
  width: 320px;
  height: 60px;
  color: #4F5665;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.footer-las {
  font-weight: 400;
}

.footer-contact {
  /* width: 33.6px;
  height: 33.6px; */
  display: flex;
  max-width: 100%;
  cursor: pointer;
}

.copyright {
  margin-left: 20px;
  color: #AFB5C0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.footer-vpn {
  font-weight: 500;
}

.footer-collumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 20px;
}

.footer-collumn-title{
color: #0B132A;
font-size: 18px;
font-style: normal;
font-weight: 500;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-item {
  list-style: none;
}

.footer-link {
  text-decoration: none;
  color: #4F5665;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}