*,*::before, *::after {
  box-sizing: border-box;
}
.body {
  font-weight: 400;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 10px;
}

.header {
  padding-bottom: 90px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-user {
  padding: 0 145px;
  display: flex;
  align-items: center;
  gap: 0 30px;
  text-transform: capitalize;
}

.signin {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.3 ease;

}
.signin:hover {
  color: rgb(110, 202, 110);
}

.signup {
  background-color: white;
  color: red;
  font-weight: 600;
  padding: 13px 40px;
  border-radius: 100rem;
  border: 1px solid;
  cursor: pointer;
  transition: 0.3 ease;
}

.signup:hover {
  background-color: rgb(110, 202, 110);
  color: #fff;
}


.menu {
  padding: 0 145px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.menu a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}
.signin {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.main-container {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 4px;
}
.main-heading {
  font-size: 45px;
  line-height: 70px;
  padding-bottom: 30px;
}

.main-desc {
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 50px;
}

/* .buttom {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: red;
  text-decoration: none;
  border-radius: 10%;
  padding: 17px 70px;
  line-height: 25px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0 30px 54px 0 rgba(245, 56, 56, 0.35);
} */
.buttom {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 17px 60px;
  border: 1px solid;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 30px 54px 0 rgba(245, 56, 56, 0.35);
  transition: all 0.3s ease;
}

.buttom:hover {
  background-color: rgb(110, 202, 110);
  color: #fff;
}
/* .buttom::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  z-index: -1;
  border-radius: 10px;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(27px);
} */
.img-dev {
  transform: translateX(67px);
}

.intro {
  margin-bottom: 95px;
}

.intro-container{
  background-color: aliceblue;
  border-radius: 10px;
  padding: 37px 0;
  box-shadow: 0 42px 144px 0 rgba(53, 45, 45, 0.35);
  display: grid;
}

.intro-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px 0 150px;
  /* border: 1px solid; */
}

.intro-icon {
  display: flex;
  align-items: center;
}

.intro-icon img {
  margin-right: 10px;
}

.intro-icon h3 {
  margin: 0;
}

.intro-icon strong {
  font-size: 20px;
  margin-right: 5px;
}

.intro-icon .text {
  font-size: 16px;
  color: #666;
  line-height: calc(30/20);
}

.intro-icon .title{
  font-size: 25px;
  margin-bottom: 5px;
  line-height: calc(30/25);
}


